* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background: #080422;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 60px;
}
nav .logo {
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.5px;
}
av .logo p {
  float: left;
  color: #fff;
  text-transform: uppercase;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  padding: 0px 5px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  padding: 0px 32px;
}
nav ul li a:hover {
  color: cadetblue;
}
.middlesection {
  color: white;
  padding-top: 10%;
  width: 100;
}
.leftpart {
  float: left;
  width: 50;
  float: left;
  margin-left: 4.5%;
}
.rightpart {
  float: right;
  width: 50%;
  margin-right: 7%;
}
h3 {
  margin-left: 2px;
}
button {
  margin-top: 9%;
}
.icon {
  color: white;
  margin-top: 25%;
  float: left;
  letter-spacing: 10px;
}
