body {
  background-color: #080422;
}
p {
  width: 50%;
  color: white;

  float: right;
  padding-top: 5%;
}
img {
  width: 45%;
  padding-top: 5%;
  padding-left: 4.5%;
}
.button {
  padding-left: 4.5%;
  padding-top: 3%;
}
